body {
	background: #EBEBEB;
	font-family: 'MS Serif', 'New York', sans-serif;
}
.jumbotron img {

width: 100%;
height: 150px;
}

.fb_iframe_widget{
	display: inline !important;
	position: absolute;
	top: -7%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #B8252A !important;
	border-color: #B8252A !important;
}

.pagination{
	margin-top: -4%;
}

.caption img{
	border-radius: 10px;
	height: 100px;
}

.pag{
	position: absolute;
	top: 68%;
	left: 45%;
}


#titulo{
	margin-top: 17%;
	margin-right: -10%;
	float: left;
	font-weight: 20px;
}

#titulo h4{
	padding: 3%;
	font-weight: 20px;
	background-color: #d9534f;
	color: #FFF;
	width: 100%;
}


#form-galeria{
	margin-top: 10%;
	background-color: #ffffff;
	padding: 2%;
}

.color{
	background-color: #FFF;
}

.tamano{
	width: 10%;
}

.text{
	font:normal 20pt Arial !important;
	font-weight: 900 !important;
	color:#B22222 !important;
	text-shadow: 0 0 6px #000 !important;
	opacity: 1 !important;
}

.text2{
		font:normal 15pt Arial !important;
		color:#FFA500 !important;
		text-shadow: 0 1px 0 #000 !important;
		opacity: 1 !important;
}

.hidden-xs{
	height: 100px;
	margin-top: 2%;

}

.scroll{
	overflow-y: scroll;
}

.hidden-xs img{
	height: 70px;
	background-color: #fff;
}

.row{
	margin-top: -3% !important;
}

.marq{
	margin-bottom: 5%;	
}
.marq img{
	box-shadow: 0px 0px 45px #8B8B8B;	
}

.pagination{
	margin-bottom: 10% !important;
}

footer {
	background: #B8252A;
	color: #FFF;
	height: 70px;
	width: 100%;
	text-align: center;
	padding: 1%;
	position: fixed;
	bottom: 0;
	z-index: 1;
}

.nav-pills-stacked {
	background: red;
}

/*Seccion de noticias*/
.thumbnail img{
	width: 100%;
	min-height: 250px;
}

.table1{
	border-collapse: separate !important;
  	border-spacing:  5px !important;
  	padding: 10px !important;
}

#editar{
	background-color: #fff;
}

.img{
	width: 35% !important;
	float: left !important;
	height: 300px !important;
	margin-right: 2% !important;
}



.regresar{
	text-decoration: none;
	float: right;
	color: #fff;
	background-color: #d9534f;
	font-size: 20px;
	border-radius: 110%;
	padding: 5px;
	margin-top: -2%;
}

.noti{
	background-color: #fff;
	padding: 15px;
	height: 500px;
	overflow-y: scroll;
	font-size: 20px;
	box-shadow: 0px 0px 45px #8B8B8B ;
}

.actual{
	margin: 5%;
}



/*presentacion de imagenes */

/* Contenedor general */
#slider-wrapper {
position: relative;
width: 100%;
max-width: 100%;
margin: 0 auto;
margin-bottom: 10%;
font-family: arial, sans-serif;
font-size: 0;

}
/* Contenedor slider */
#slider {
position: relative;
padding-bottom: 50%; /* Aspect ratio */
height: 100px;
overflow: hidden;
}
#slider > a {
position:absolute;
top:0;
left:0;
width: 100%;
min-height: 100%;
}
/* Ajuste de las imágenes */
#slider img {
width: 100%;
height: 100%;
position: absolute;
margin:0;
padding:0;
border:0;
}
/* Texto que acompaña a cada imagen */
#slider p {
position: absolute;
bottom: 5%;
left: 0;
display: block;
overflow: hidden;
text-overflow: ellipsis;
width: 60%;
margin:0;
padding: 25px;
background: #000;
opacity: 0.5;
color: #eee;
font-size: 18px;
line-height: 18px;
}
/* Flechas de navegación */
a.mas, a.menos {
position: absolute;
top: 50%;
left: 10px;
z-index: 10;
width: 40px;
height: 40px;
text-align: center;
line-height: 30px;
font-size: 30px;
color: white;
background: #333;
opacity: 0.5;
text-decoration: none;
}
a.mas {
left: 100%;
margin-left: -50px;
}

/*timeline-twitt*/

.timeline-twitt{
	border-radius: 1px solid red;
	background-color: #ffffff;
	width: 240px;
}

.h{
	background-color: #d9534f;
	color: #FFF;
	padding: 5%;
	width: 240px;
}

/*funcions*/

.body{
		background-color: #fff;
		padding: 2%;
		box-shadow: 0px 0px 45px #8B8B8B;
		overflow: visible;

}

/*GALERIA*/

.imagen{
	width: 20%;
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: #fff;
}

.titulo{
	width: 100%;
	background-color: #fff;
	font-size: 20px;
	bottom: 0px;
	text-align: center;
	font-weight: bold;
}

.wrapper {
  overflow:hidden;
  width:100%;

}


.wrapper  img:hover{
  opacity: 0.7;
}

.usuario{
	float: left;
	position: fixed;
	top: -10px;
	left: 85%;
	padding: 1%;
	color: #FFF;
	font-size: 20px;
}


.fb-comment-embed{
	background-color: #FFF !important;
}

.titulo b{
	margin-top: 10px;
}
/*ENDGALERIA*/

/*FORMULARIONOTICIA*/
#g_noticia{
	background-color: #FFFFFF;
	padding: 15px;
	margin-bottom: 15%;
}
/*ENDFORMULARIONOTICIA*/



/*ORGANIGRAMA*/

.organigrama * {
  margin: 0px;
  padding: 0px;
}

.organigrama{
	margin-bottom: 30%;
	margin-left: 20%;
}

.organigrama ul {
	padding-top: 20px;
  position: relative;
}

.organigrama li {
	float: left;
  text-align: center;
	list-style-type: none;
	padding: 20px 5px 0px 5px;
  position: relative;
}

.organigrama li::before, .organigrama li::after {
	content: '';
	position: absolute;
  top: 0px;
  right: 50%;
	border-top: 1px solid #d9534f;
	width: 50%;
  height: 20px;
}

.organigrama li::after{
	right: auto;
  left: 50%;
	border-left: 1px solid #d9534f;
}

.organigrama li:only-child::before, .organigrama li:only-child::after {
	display: none;
}

.organigrama li:only-child {
  padding-top: 0;
}

.organigrama li:first-child::before, .organigrama li:last-child::after{
	border: 0 none;
}

.organigrama li:last-child::before{
	border-right: 1px solid #d9534f;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

.organigrama li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

.organigrama ul ul::before {
	content: '';
	position: absolute;
  top: 0;
  left: 50%;
	border-left: 1px solid #d9534f;
	width: 0;
  height: 240px;
}

.organigrama li a {
	max-height: 120px;
	min-height: 120px;
	max-width: 120px;
	min-width: 120px; 
	border: 1px solid #d9534f;
	padding: 1em 0.75em;
	text-decoration: none;
	color: #333;
  background-color: rgba(255,255,255,1);
	font-family: arial, verdana, tahoma;
	font-size: 0.9em;
	display: inline-block;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  transition: all 500ms;
}

.organigrama li a:hover {
	border: 1px solid #d9534f;
	color: #ddd;
  background-color: #d9534f;
	display: inline-block;
}

.organigrama > ul > li > a {
  font-size: 0.9em;
  font-weight: bold;
}

.organigrama > ul > li > ul > li > a {
  width: 10em;
}

.organigrama li > ul > li > a > img {
  	 width: 50%;
  	 height: 50px;
}

.organigrama ul > li > a > img {
	width: 50%;
  	height: 50px;
}

.dpto{
	float: left;
	position: fixed;
	margin-left: -25%;
}

/*INFORMACION DE ORGANIGRAMA*/

.modal img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
}


.modal{
	top: 30%; 
}

.media-body{
	padding: 10%;
	border-radius: 10px;
	background-color: #ececec;
	width: 65%;
}

.modal-content{
	width: 65%;
	left: 20%;
}

.media{
	padding: 2%;
	border-radius: 10px;
	width: 100%;
	background-color: #ececec;
}

.x{
	float: right;
	cursor: pointer;
}


/*END ORGANIGRAMA*/


#slider-wrapper h1{
 font:normal 60pt Arial;
 color:#B8252A;
 text-shadow: 0 1px 0 #ccc,
 0 2px 0 #c9c9c9,
 0 3px 0 #bbb,
 0 4px 0 #b9b9b9,
 0 5px 0 #aaa,
 0 6px 1px rgba(0,0,0,.1),
 0 0 5px rgba(0,0,0,.1),
 0 1px 3px rgba(0,0,0,.3),
 0 3px 5px rgba(0,0,0,.2),
 0 5px 10px rgba(0,0,0,.25),
 0 10px 10px rgba(0,0,0,.2),
 0 20px 20px rgba(0,0,0,.15);
}