body {
	background: #EBEBEB;
}
.jumbotron img {
	
width: 100%;
height: 150px;
  	
	
}
img.img_footer{
	height:70px;
	border:1px solid black;
	border-radius:5px;
	box-shadow:5px 5px 5px;
	margin:3px;
}
footer {
	background: #B8252A;
	color: #FFF;
}

.nav-pills-stacked {
	background: red;
}

.boot{
	bottom: 0px; 
    position: absolute;
    width: 100%;
}

/*Seccion de noticias*/
.thumbnail img{
	width: 100%;
	height: 250px;	
}

.img{
	width: 35% !important;
	float: left !important;
	height: 300px !important;
	margin-right: 2% !important;
}


.regresar{
	text-decoration: none;
	float: right;
	color: #fff;
	background-color: #d9534f;
	font-size: 20px;
	border-radius: 110%;
	padding: 5px;
	margin-top: -2%;
}

.noti{
	background-color: #fff;
	padding: 15px;
	height: 500px;
	overflow: scroll;
	font-size: 20px;
	box-shadow: 15px 15px 10px #8B8B8B inset 15px 15px 10px #8B8B8B;
}