body {
	background: #F3EBEB;
}
.jumbotron {
	background: url("../img/header.png") no-repeat;
  	background-size: cover;
  	margin-top: 50px; 
  	height: 200px;
  	
	
}
footer {
	background: #CB050C;
	color: #FFF;
}

.nav-pills-stacked {
	background: red;
}