.menu-principal{
background-color:#C00;
color:#004276;
font-weight:bold;
border-radius:5px;
font-size:80%;
width:80%
}
.menu-principal{
list-style: none;
margin-left:3%;
padding-left: 1em;
padding-top:1px;
padding-bottom:1px;
}
.menu-principal li:before{
content: "\00BB \0020";
}
.menu-principal li{
margin-top:2%;
margin-bottom:2%;
margin-right:2%;
padding-top:3%;
padding-bottom:3%;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
width:98%;
}

.menu-principal li.unselected{
border:1px solid #EEE;
background-color:#EEE;
margin-right:4px;
cursor:pointer;
}
/* The animation code */
@keyframes ani-unselected{
    from {background-color: #EEE;
		  color:#004276;
		  margin-left:0px;
		  }
    to {background-color: #004276;
		color:white;
		margin-left:-16px;
		}
}
@keyframes ani-selected{
    from {background-color: white;
		  color:#004276;}
    to {background-color: #004276;
		color:white;}
}

.menu-principal li.unselected:hover{
color:white;
background-color:#004276;
animation-name: ani-unselected;
animation-duration: 0.5s;
margin-left:-16px;
}
.menu-principal li.selected{
border-top:1px solid white;
border-right:1px solid white;
border-bottom:1px solid white;
background-color:white;
margin-left:-16px;
color:#C00;
cursor:default;
}
.menu-principal li.selected:hover{
color:white;
background-color:#004276;
/*
animation-name: ani-selected;
animation-duration: 0.5s;
*/
}
div.opcion{
width:100.01%;
height:100%;
display:none;
}
.tabFp li{
font-size:14px;
}
