h3{
color: #656565;
font-size:200%;
margin:5px;
text-align:center;
}
p{
color: #656565;
font-size:100%;
text-align:justify;
margin:20px;
}
a{
display:none;
}
 img{
border:1px solid black;
border-radius:5px;
float:left;
margin: 0 15px 15px 15px;
width:30%;
}
.imprimir{
display:none;
}
body{
background-color:white;
background:url("../img/fondo_ppal.png");
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/fondo_ppal.png', sizingMethod='scale')";
background-size:100% 100%;
}
